/* CSS rule reset*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    & a {
        text-decoration: none;
        font-size: inherit;
        color: inherit;
    }
}

/* common styling */
.button__hero {
    max-width: fit-content;
    width: 100%;
    padding: 0.8rem 1rem;

    font-weight: 400;
    background-color: var(--secondary-bg);
    border: 1px solid black;
    border-radius: 20px;

    opacity: 1;
    transition-property: opacity;
    transition-duration: 0.2s;
}
.button__hero:hover {
    opacity: 0.8;
}

.button__form {
    min-height: 2.5em;
    max-width: 6em;
    width: 100%;

    border: 2px solid black;
    border-radius: 10px;
    background-color: var(--secondary-bg);

    transition-property: background-color;
    transition-duration: 0.5s;
}
.button__form:hover {
    background-color: #dbf267;
}

/* typography */
.title {
    font-size: calc(var(--fs-xxxl) + 2rem);
    font-weight: 500;
}
.subtitle {
    font-size: calc(var(--fs-lg) + 0.35rem);
    font-weight: 500;
}
.text {
    font-size: var(--fs-md);
}
.small-text {
    font-size: var(--fs-base);
}
.emphasize {
    font-family: var(--ff-lora);
    font-size: inherit;
    font-style: italic;
}

/* Variables */
:root {
    --primary-bg: #f1f1eb;
    --secondary-bg: #e6ff6d;
    --primary-text: #23270d;

    --ff-space: "Space Grotesk", sans-serif;
    --ff-lora: "Lora", sans-serif;
    --ff-inter: "Inter", sans-serif;

    --s-xs: 0.25rem;
    --s-sm: 0.5rem;
    --s-md: 0.75rem;
    --s-base: 1rem;
    --s-lg: 1.5rem;
    --s-xl: 2rem;
    --s-2xl: 3rem;
    --s-3xl: 4rem;
    --s-4xl: 6rem;

    --fs-sm: clamp(0.87rem, 0.14vi + 0.83rem, 1rem);
    --fs-base: clamp(1.13rem, 0.38vi + 1.03rem, 1.5rem);
    --fs-md: clamp(1.46rem, 0.8vi + 1.26rem, 2.25rem);
    --fs-lg: clamp(1.9rem, 1.49vi + 1.53rem, 3.38rem);
    --fs-xl: clamp(2.47rem, 2.62vi + 1.82rem, 5.06rem);
    --fs-xxl: clamp(3.21rem, 4.44vi + 2.1rem, 7.59rem);
    --fs-xxxl: clamp(4.18rem, 7.3vi + 2.35rem, 11.39rem);
}
