html {
    color: var(--primary-text, black);
    font-size: clamp(14px, 2vw, 18px);
}

section {
    height: auto;
    padding: clamp(4rem, 3vw + 3rem, 6rem) 0;
}

img {
    aspect-ratio: 1189 / 1149;
    object-fit: cover;
    border-radius: 20px;
}

.div__hero-wrapper {
    container: hero / inline-size;
}

.section__hero {
    width: 100vw;
    height: 90vh;

    background-image: url("../public/hero.png");
    background-size: cover;
    background-clip: border-box;

    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    flex-direction: column;
}

@container hero {
    & .button__hero {
        margin-bottom: var(--s-base);
    }
    & .emphasize {
        margin-top: calc((var(--s-xl) + 0.5rem) * -1);
    }
    & p.text {
        margin-top: var(--s-xl);
    }
}

@container hero (width < 400px) {
    .section__hero{
        height: 70vh;
    }
}

.section__pictures {
    background-image: linear-gradient(
        var(--primary-bg) 0%,
        var(--secondary-bg) 90%
    );

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: var(--s-2xl);

    & .img__content {
        max-width: 800px;
        width: 45%;
    }
}

.section__content-text {
    background-image: linear-gradient(
        to top,
        var(--primary-bg),
        80%,
        var(--secondary-bg)
    );

    display: flex;
    justify-content: center;
    align-items: flex-end;

    /*both have to be the same size for spacing*/
    & .section__text-container {
        max-width: 800px;
        width: 45%;
    }
    & .img__content {
        max-width: 800px;
        width: 45%;
        margin-left: var(--s-2xl);
    }
}

.section__content-grid {
    background-image: linear-gradient(
        var(--primary-bg) 0px 2px,
        transparent 4px
    );
    background-color: var(--bg-lighter-3);

    & .subtitle {
        text-align: center;
        margin-bottom: var(--s-xl);
    }
    & .emphasize {
        margin-top: calc(var(--s-base) * -1);
    }

    & .div__grid-container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        justify-content: space-around;
        align-items: flex-start;
        justify-items: center;
        gap: 1rem;
    }

    & .icon {
        position: absolute;
        top: 10px;
        left: 10px;

        width: 50px;
        height: 50px;
        border-radius: 50%;

        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--secondary-bg);
    }

    & .article__grid-item {
        width: 85%;
        position: relative;
    }
    & .article__image {
        width: 100%;
        aspect-ratio: 564 / 627;
    }
    & .article__text {
        margin-top: 1rem;
    }
}

.section__content-when {
    background-color: var(--bg-lighter-2);

    display: flex;
    justify-content: center;
    align-items: flex-end;

    & .text-container {
        width: 45%;
        max-width: 500px;
        align-self: center;
        margin: 0 1.5rem;

        & > p {
            margin-top: 1rem;
        }
    }
    & .img__content {
        width: clamp(350px, 45%, 500px);
        margin: 0 1.5rem;
    }
}

.section__content-times {
    background-image: linear-gradient(
        var(--primary-bg),
        90%,
        var(--secondary-bg)
    );

    display: flex;
    justify-content: center;
    align-items: flex-end;

    & .content-container {
        width: 45%;
        max-width: 500px;
        margin: 0 1.5rem;
    }

    & .grid-container {
        display: grid;
        grid-template-columns: 125px 1fr;
        gap: 20px;

        list-style-type: none;
        margin-top: 2rem;

        & > li {
            display: flex;
            align-items: center;
        }
    }

    & .img__content {
        width: clamp(350px, 45%, 500px);
        margin: 0 1.5rem;
    }

    & .time {
        width: 125px;
        height: 40px;
        font-size: calc(1.5rem - 0.5vw);

        justify-content: center;

        border-radius: 25%;
        background-color: var(--secondary-bg);
    }
}

.section__footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
        "text form"
        "footer form";
    justify-items: center;

    position: relative;
    height: auto;

    background-image: linear-gradient(
        to top,
        var(--secondary-bg),
        15%,
        var(--primary-bg),
        90%,
        var(--secondary-bg)
    );

    & .footer__text-container {
        grid-area: text;
        width: 85%;
    }
    & .footer__text {
        margin-top: 1em;
    }
    & .footer__form {
        grid-area: form;
        width: 70%;

        background-color: var(--secondary-bg);
        border-radius: 30px;

        & .form__container {
            list-style-type: none;
            margin-top: 2rem;

            display: flex;
            flex-direction: column;
            align-items: center;

            appearance: none;
            accent-color: var(--secondary-bg);
        }

        .form__item {
            & > * {
                display: block;
                width: 100%;
            }
            width: 75%;
            margin: 1rem 0;
        }

        & .form__input {
            border: 2px black solid;
            border-radius: 10px;

            padding: 0.5rem 0.2rem;
            background-color: transparent;
            transition: background-color 0.5s;

            font-size: 0.8rem;
            font-family: inherit;
        }

        & .form__input:focus {
            background-color: #dbf267;
        }

        & .form__textarea {
            height: 6rem;
            resize: none;
        }
    }

    & footer {
        width: 85%;
        grid-area: footer;
    }
}

/*@media (max-width: 500px) {
    .section__hero {
        & .text {
            margin-left: 0.5rem;
            margin-right: 0.5rem;
        }
    }

    .section__pictures {
        & .img__content {
            min-width: 300px;
            width: 80%;
        }
    }

    .section__content-text {
        & .img__content {
            display: none;
        }

        & .section__text-container {
            min-width: 300px;
            width: 90%;
        }
    }

    .section__content-grid {
        & .div__grid-container {
            gap: 4rem;
        }

        & .article__grid-item {
            width: 75%;
            position: relative;
        }
    }

    .section__content-when {
        & .text-container {
            width: 85%;
            min-width: 300px;
            align-self: center;
            margin: 0;
            font-size: 1.5rem;

            & p {
                margin-top: 1rem;
            }
        }

        & .img__content {
            display: none;
        }
    }

    .section__content-times {
        & .img__content {
            display: none;
        }

        & .content-container {
            min-width: 300px;
            width: 85%;
            margin: 0;
        }

        /*& .time{
            font-size: 1.5rem;
        }*/
    }

    .section__footer {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas:
            "text"
            "form"
            "form";

        & .footer__form {
            margin-top: 2rem;
            width: 85%;
            min-width: 300px;
        }
        & footer {
            display: none;
        }
    }
}*/
