/* ===== Global Styles ====== */

section {
    font-family: Lora;
    padding: var(--s-2xl-3xl) 0;
}

img {
    aspect-ratio: 1189 / 1149;
    object-fit: cover;
    border-radius: 20px;
}

.button__hero {
    max-width: fit-content;
    width: 100%;
    padding: 0.8rem 1rem;

    font-weight: 400;
    background-color: var(--secondary-bg);
    border: 1px solid black;
    border-radius: 20px;

    opacity: 1;
    transition-property: opacity;
    transition-duration: 0.2s;
}
.button__hero:hover {
    opacity: 0.8;
}

.button__form {
    min-height: 2.5em;
    max-width: 6em;
    width: 100%;

    border: 2px solid black;
    border-radius: 10px;
    background-color: var(--secondary-bg);

    transition-property: background-color;
    transition-duration: 0.5s;
}
.button__form:hover {
    background-color: #dbf267;
}

/* ===== hero section ====== */
.hero {
    width: 100vw;
    height: 95vh;

    background-image: url("../public/hero.png");
    background-size: cover;
    background-clip: border-box;

    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    flex-direction: column;

    container: hero / inline-size;
    @container hero (width < 1300px){
        p {
            max-width: 800px;
            margin: 0 var(--s-xs);
        }
    }
    @container hero {
        button,
        p {
            font-size: var(--fs-3);
        }
        h1 {
            font-size: var(--fs-8);
            font-weight: 400;
            margin-top: var(--s-m);
            & div{
                font-style: italic;
                margin-top: calc(var(--s-m) * -1); 
                margin-bottom: var(--s-m);
            }
        }
    }
}

/* ===== 2nd section ====== */
.content-pictures {
    background-image: linear-gradient(
        var(--primary-bg) 0%,
        var(--secondary-bg) 90%
    );

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: var(--s-lg);

    & .img__content {
        width: clamp(400px, 45%, 800px);
    }

    container: pictures / inline-size;
    @container pictures (width < 500px) {
        & .img__content {
            min-width: 300px;
            width: 80%;
        }
    }
}

/* ===== 3rd section ====== */
.content-text {
    background-image: linear-gradient(
        to top,
        var(--primary-bg),
        80%,
        var(--secondary-bg)
    );

    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-wrap: wrap;
    gap: var(--s-lg);

    /*both have to be the same size for spacing*/
    & .img__content,
    & .text-container {
        width: clamp(400px, 45%, 800px);
    }

    container: content-text / inline-size;
    @container content-text (width < 850px) {
        & .img__content {
            display: none;
        }
    }
    @container content-text (width < 500px) {
        & .text-container {
            min-width: 300px;
            width: 80%;
        }
    }
}

/* ===== 4th section ====== */
.content-grid {
    background-image: linear-gradient(
        var(--primary-bg) 0px 2px,
        transparent 4px
    );
    background-color: var(--bg-lighter-3);

    & .subtitle {
        text-align: center;
        font-size: var(--fs-xl);
        margin-bottom: var(--s-xl);
    }
    & .emphasize {
        margin-top: calc(var(--s-base) * -1);
    }

    & .div__grid-container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        justify-content: center;
        align-items: flex-start;
        justify-items: center;
        margin: 0 1.5rem;
    }

    & .article__grid-item {
        width: 85%;
        position: relative;

        & .icon {
            position: absolute;
            top: 10px;
            left: 10px;

            width: 50px;
            height: 50px;
            border-radius: 50%;

            display: flex;
            justify-content: center;
            align-items: center;
            background-color: var(--secondary-bg);
        }
        & .article__image {
            width: 100%;
            aspect-ratio: 564 / 627;
        }
        & .article__text {
            font-size: calc(var(--fs-sm) + 0.2rem);
            margin-top: 1rem;
        }
    }

    container: content-grid / inline-size;
    @container content-grid (width < 900px) {
        & .div__grid-container {
            row-gap: 4rem;
        }
        & .article__grid-item {
            width: 80%;
            & .article__text {
                font-size: var(--fs-base);
            }
        }
    }
}

/* ===== 5th section ====== */
.content-when {
    background-color: var(--bg-lighter-2);

    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--s-lg);

    & .text-container > p {
        margin-top: 1rem;
    }
    & .img__content,
    & .text-container {
        width: clamp(400px, 45%, 500px);
    }

    container: content-when / inline-size;
    @container content-when (width < 850px) {
        & .img__content {
            display: none;
        }
    }
    @container content-when (width < 500px) {
        & .text-container {
            width: 80%;
            min-width: 300px;
        }
    }
}

/* ===== 6th section ====== */
.content-times {
    background-image: linear-gradient(
        var(--primary-bg),
        90%,
        var(--secondary-bg)
    );

    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: var(--s-lg);

    & .img__content,
    & .content-container {
        width: clamp(400px, 45%, 500px);
    }

    & .grid-container {
        display: grid;
        grid-template-columns: 125px 1fr;
        gap: 20px;

        list-style-type: none;
        margin-top: 2rem;
        & > li {
            display: flex;
            align-items: center;
        }
    }

    & .time {
        width: 125px;
        height: 40px;
        font-size: calc(1.5rem - 0.5vw);
        justify-content: center;

        border-radius: 25%;
        background-color: var(--secondary-bg);
    }

    container: content-times / inline-size;
    @container content-times (width < 850px) {
        & .img__content {
            display: none;
        }
    }
    @container content-times (width < 500px) {
        & .content-container {
            min-width: 300px;
            width: 80%;
        }
    }
}

.footer {
    & .flex-wrapper {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        gap: var(--s-lg);

        padding: 1rem;
    }

    background-image: linear-gradient(
        to top,
        var(--secondary-bg),
        15%,
        var(--primary-bg),
        90%,
        var(--secondary-bg)
    );
    padding-bottom: 0;

    & .footer__text-container,
    & .footer__form {
        width: clamp(400px, 45%, 500px);
        margin-top: 2rem;
        & .footer__text {
            margin-top: 1em;
            font-size: calc(var(--fs-sm) + 0.2rem);
        }
    }

    & .footer__form {
        background-color: var(--secondary-bg);
        border-radius: 30px;
        padding-bottom: 4rem;

        & .form__container {
            list-style-type: none;
            margin-top: 2rem;

            display: flex;
            flex-direction: column;
            align-items: center;

            appearance: none;
            accent-color: var(--secondary-bg);
        }

        .form__item {
            & > * {
                display: block;
                width: 100%;
            }
            width: 75%;
            margin: 1rem 0;
        }

        & .form__input {
            border: 2px black solid;
            border-radius: 10px;

            padding: 0.5rem 0.2rem;
            background-color: transparent;
            transition: background-color 0.5s;

            font-size: 0.8rem;
            font-family: inherit;
        }

        & .form__input:focus {
            background-color: #dbf267;
        }

        & .form__textarea {
            height: 6rem;
            resize: none;
        }
    }

    container: footer / inline-size;
    @container footer (width < 850px) {
        & .flex-wrapper {
            flex-direction: column;
            align-items: center;
        }
        & .footer__text-container {
            margin-top: 2rem;
            & .footer__text {
                margin-top: 1em;
                font-size: var(--fs-base);
            }
        }
        & .footer__form {
            margin-top: 2rem;
        }
    }

    @container footer (width < 500px) {
        & .footer__form,
        & .footer__text-container {
            min-width: 300px;
            width: 80%;
        }
    }
}
